.DS_Store
*ccurance
*ccupancy
*timecourse*
*transitions
*_cn_*
*mimickingGRiP*
hdeAB*
*params*
Barrier
Cluster
FarAway
Switch
barrier*
hill
example*
Valley
clusterlow
target/
.classpath
.lein-deps-sum
.project
.settings
classes/
lib/
